html{
    font-size: 28px;
}
body{
    margin: 0px;
}

h1, h2, h3 {
    margin: 0;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
    font-weight: 500;
}
h3{
    font-size: 1em;
    font-style: italic;
    font-family: Sail;
    font-weight: 400;
}

.parent{

    width: 1280px;
    padding: 10px;
}
.block{
    padding: 10px;
    height: 150px;
}

.block-1{
    background:#55B3B9 ;
    margin-bottom: 10px;
    font-family: Roboto;
    width: 500px;

}
.block-1{
    font-size: 28px;
}
.block-1:hover{
    font-size: 56px;
}
.block-2{
    font-family: Roboto;
    background:#C56060 ;
    margin-bottom: 10px;
    color: rgba(34, 34, 34, 0.69)
}
.block-2:hover{
    font-size: 56px;
}
.block-3{
    background:#8FC091 ;
    font-family: Roboto;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    color:rgba(34, 34, 34, 0.62);
}
.block-3 h3{
   font-family: Sail;
    text-decoration-line: underline
}
.block-3:hover{
    font-size: 56px;
}
.block-4{
    background:#8F86AF ;
    font-family: Roboto;
    margin-bottom: 0px;
    text-decoration-line: line-through;
    color:rgba(46, 46, 46, 0.42)
}
.block-4 h4{
    text-transform: uppercase
}
.block-4:hover{
    font-size: 56px;
}

.block:nth-child(odd){
    width: 75%;
}
.block:nth-child(even){
    width: 50%;
}


